<div class="home-container">

  <div class="home-hand-filt-container">
    <hand-filter [deck]="MasterDeck" (deckDataEmitter)="getFiltAndDraw($event)"></hand-filter>

    <div class="home-btns-container margin-top">
      <button class="home-btn home-draw-btn" type="button"
              (click)="handleDrawBtn()"
              [disabled]="handFinished">
        Draw!
      </button>
      <button class="home-btn home-reset-btn" type="button"
              (click)="resetHand()">
        Reset :(
      </button>
    </div>
  </div>

  <div class="home-card-disp-container">
    <card-display [cardsArr]="drawnCards" [handIsFinished]="handFinished"></card-display>
  </div>
</div>