.home-container {
  display: flex;
  border-radius: 5px;
  background-color: rgb(253, 253, 253);
  font-weight: 600;
  margin: 10px 3%;  
}

.home-hand-filt-container {
  background-color: rgb(240, 255, 255);
  width: 35%;
}

.home-card-disp-container {
  background-color: rgb(255, 241, 255);
  width: 65%;
}