<div class="card-disp-container">

  <!-- display some sorta title -->
  <div class="card-disp-header">
    <span *ngIf="userDrawingStatus === 'not-drawing'">Select Filters & Draw Some Cards!</span>
    <span *ngIf="userDrawingStatus === 'is-drawing' && !handIsFinished">Cards Drawn: {{cardsArr.length}}</span>
    <span *ngIf="handIsFinished">Hand Complete! Reset to Draw Again!</span>
  </div>

  <!-- display some cards yo -->
  <div class="card-disp-body">

    <div class="drawnCard" *ngFor="let card of cardsArr">
      <img src="../../assets/cards/{{card.name}}.png" height="100%" width="100%">
      <div style="color: white; text-align: center;">Quantity: 1</div>
    </div>
  
  </div>

</div>