/* god this sucks without sass */
.card-disp-container {
  border: solid 1px green;
}

.card-disp-works-title {
  color: green;
  font-weight: 600;
}

.card-disp-array-input-item {
  color: limegreen;
}