/* You can add global styles to this file, and also import other style files */
body {
  font-family: arial;
}

input[type="text"], select {
  border: solid 1px rgb(197, 197, 197);
  border-radius: 3px;
  font-size: 16px;
  max-height: 32px;
  width: calc(100% - 10px);
  padding: 5px;
  outline: none;
}

input.invalidInput {
  border: solid 1px red;
}

input:disabled {
  border: solid 1px #bbb;
  background-color: rgb(247, 247, 247);
}

select:disabled {
  border: solid 1px #bbb;
  background-color: rgb(247, 247, 247);
}