.hand-filter-container {

}

.hand-filt-btn-ctn {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.hand-filt-btn {
  border: solid 1px rgb(0, 162, 255);
  border-radius: 3px;
  background-color: #fff;
}