.hand-filt-container {
  border-radius: 3px 0 0 3px;
  padding: 10px;
}

.hand-filt-title {
  border-bottom: solid 1px black;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}


.margin-top {
  margin-top: 15px;
}

.hand-filt-filter-header {
  font-size: 20px;
}


.hand-filt-suits-container {
  display: flex;
  flex-direction: column;
}

.hand-filt-suit-item {
  display: flex;
  padding-top: 5px;
}

.hand-filt-suit-item > label {
  margin-left: 5px;
}